* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.containerform {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin-right: auto;
  margin-left: auto;
  margin-top: 75px;
  margin-bottom: 75px;
    background-color: #415a12;
    box-shadow: 0 4px 8px rgba(128, 128, 128, 0.5);
  }
  .containerform .heading{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
  }
  .containerform .heading::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
  }
  .containerform form .card-details{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  form .card-details .card-box{
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
  }
  .card-details .card-box .details{
    display: black;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .card-details .card-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .details {
    color: white;
  }
  .heading {
    color: white;
  }
  .card-details .card-box input:focus
  .card-details .card-box input:valid{
    border-color: #9b59b6;
  }
  form .circal-form .circal-title{
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid;
  }
  form .circal-form .category{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  form .gender-title{
    color: white;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid white;
  }
  form .gender-category{
    margin: 15px 0;
    color: white;
  }
  form .gender-category label{
    padding: 0 20px 0 5px;
  }
  form .button{
  text-align: center;
  }
  form .button input {
    margin-top: 10px 0;
    margin-bottom: 10px;
    height: 45px;
    width: 50%;
    outline: none;
    color: black;
    border: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #F3E5AB;
  
  }
  form .button input:hover{
    background: #FFFFC2;
  }
  
  
  
  
  
  
  
  
  
  
  @media (max-width:584px) {
    .container{
        max-width: 100%;
    }
    form .card-details .card-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .circal-form .category{
        width: 100%;
    }
    .container form  .card-details{
        max-height: 300px;
        overflow: scroll;
    }
    .card-details::_webkit-scrollbar{
        width: 0;
    }
  }

  header {
    margin: (22px, 22px, 0px, 22px);
    padding: 0;
  }
  
  a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: #415a12;
  }
  
  .logo img {
    width: 290px;
    height: 90px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, Helvetica, Arial, sans-serif;
    /* background-color: #13136a; */
    height: 12vh;
    bottom: 0;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 50px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    padding-top: 23px;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #415a12;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 100%;
      height: 350px;
      background-color: #ffffff;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      z-index: 10;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px,  -7px);
  }
  
  .footer{
    margin: 0;
    padding: 0;
    background: #415a12;
    padding: 20px 0;
  }
  
  .container2{
    max-width: 1170px;
    margin: auto;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  
  ul{
    list-style: none;
  }
  
  .footer-col{
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4{
    font-size: 18px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  
  .footer-col ul li a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #13136a;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover{
    color: #000000;
    padding-left: 8px;
  }
  
  li img{
    padding-right: 20px;
  }
  
  @media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
  }
  
  @media(max-width: 574px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
  }