/* body {
    margin-top: 250px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: georgia;
} */

.container-card {
    width: 70%!important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 15%;
}

.owl-stage-outer{
   padding-bottom: 30px;
}
.maincourse {
    justify-content: center;
}
.card {
    height: 400px;
    min-width: 150px;
    max-width: 250px;
    border-radius: 50px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

}
.card-image img {
    width: 100%;
    transition: all ease-in-out .4s;
}
.card-image img:hover {
    transform: scale(1.1);
}
.card-body {
    padding: 1rem;
    text-align: center;
}
.card-body button {
  border: 0;
  width: 80%;
  border-radius: 50px;
  padding: 0.5rem;
  background-color: #415a12;
  color: white;
  margin-top: 10px;
}

h1{
    color: #415a12;
    margin-left: 70px;
}

.card-body h2, .card-body h3 {
    line-height: 20px;
}
.owl-nav .owl-prev,  .owl-nav .owl-next  {
    position: absolute;
    background-color: #fff!important;
    color: #415a12 !important;
    box-shadow: 5px 10px 20px rgba (0, 0, 0, 0.05);
    width: 40px;
    height: 40px;
    border-radius: 50%!important;
    top: 30%;
    font-size: 27px!important;
    display: flex!important;
    justify-content: center;
    
}
.owl-nav .owl-prev {
    left: -20px;
}
.owl-nav .owl-next {
    right: -20px;
}